<!DOCTYPE html>
<html ng-app="phonecatApp" >
<head lang="en" >
    <meta charset="UTF-8" >
    <link rel="stylesheet" href="../components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../css/app.css" />
    <script src="../components/angular/angular.js" ></script >
    <script src="../js/controllers5" ></script >

    <title >链接与图片模板</title >
</head >
<body ng-controller="PhoneListCtrl" >

<div class="container-fluid" >
    <div class="row" >
        <div class="col-md-2" >
            <!--Sidebar content-->

            Search: <input ng-model="query" >
            Sort by:
            <select ng-model="orderProp" >
                <option value="name" >Alphabetical</option >
                <option value="age" >Newest</option >
            </select >
            orderProp:{{orderProp}}

        </div >
        <div class="col-md-10" >
            <!--Body content-->

            <ul class="phones" >
                <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" >
                    <span >{{phone.name}}</span >

                    <p >{{phone.snippet}}</p >
                </li >
            </ul >

        </div >
        <div class="col-md-10" >
            <!--Body content-->

            <ul class="phones" >
                <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail" >
                  <!--为每条记录添加手机图片，只需要使用ngSrc指令代替<img>的src属性标签就可以了-->
                    <a href="#/phones/{{phone.id}}" class="thumb" ><img ng-src="{{phone.imageUrl}}" ></a >
                    <a href="#/phones/{{phone.id}}" >{{phone.name}}</a >

                    <p >{{phone.snippet}}</p >
                </li >
            </ul >

        </div >
    </div >
</div >

</body >
</html >